@import "common/normalize";
@import "common/variables";
@import "common/mixins";


@include placeholder {
    color: #848484;
}

i {
	cursor: pointer;
}

body{
	font-family: BlinkMacSystemFont, sans-serif;
	letter-spacing: 0px;
	letter-spacing: 1px;
	background-color: #f7f8f8;
	& {
		@include bp-medium {
			font-size: 14px;
		}
		@include bp-small {
			font-size: 12px;
		}
	}
}